[submodule "dev-utility/CMake-Module/BuildKernelModule"]
	path = dev-utility/CMake-Module/BuildKernelModule
	url = ../CMake-Module-KernelModuleBuilder.git
	branch = master
[submodule "lib/KUnity"]
	path = lib/KUnity
	url = ../KUnity-Core.git
	branch = master
